<mat-card appearance="outlined"
          class="character-card">
  <mat-card-header>
    <div mat-card-avatar
         matTooltip="Icon">
      <mat-icon>
        {{ character.icon }}
      </mat-icon>
    </div>

    <div class="character-header-attributes">
      <mat-chip matTooltip="Tech LVL"
                class="tech-lvl-value"
                highlighted>
        <mat-icon [fontSet]="fontSet"
                  matChipAvatar>
          settings
        </mat-icon>

        {{ character.techLvl }}
      </mat-chip>

      <mat-chip matTooltip="MS"
                class="ms-value"
                highlighted>
        <mat-icon [fontSet]="fontSet"
                  matChipAvatar>
          directions_run
        </mat-icon>

        {{ character.defaultMS }}
      </mat-chip>
    </div>

    <div class="health-indicator-container"
         matTooltip="HP">
      <mat-progress-spinner class="health-indicator"
                            [diameter]="56"
                            [value]="$percentageHP()">
      </mat-progress-spinner>

      <div class="health-indicator-value">
        {{ character.$currentHP() }}
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="list-item-container">
          @let bolsterCounter = character.$bolsterCounter();
          <button mat-icon-button
                  [disabled]="!bolsterCounter">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      class="buff-value"
                      matTooltip="Bolstered"
                      [matBadge]="bolsterCounter"
                      [matBadgeDisabled]="!bolsterCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              add_reaction
            </mat-icon>
          </button>

          @let isCrouching = character.$isCrouching();
          <button mat-icon-button
                  [disabled]="!isCrouching">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      matTooltip="Crouching"
                      class="state-value"
                      [matBadge]="isCrouching ? 'Y' : 'N'"
                      [matBadgeDisabled]="!isCrouching"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              self_improvement
            </mat-icon>
          </button>

          @let isMounted = character.$isMounted();
          <button mat-icon-button
                  [disabled]="!isMounted">
            <mat-icon aria-hidden="false"
                      matTooltip="Mounted"
                      class="state-value"
                      matBadge="0"
                      [matBadge]="isMounted ? 'Y' : 'N'"
                      [matBadgeDisabled]="!isMounted"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              sports_esports
            </mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="list-item-container
        ">
          @let concussionCounter = character.$concussionCounter();
          <button mat-icon-button
                  [disabled]="!concussionCounter">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      class="debuff-value"
                      matTooltip="Concussed"
                      [matBadge]="concussionCounter"
                      [matBadgeDisabled]="!concussionCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              sentiment_very_dissatisfied
            </mat-icon>
          </button>

          @let bleedCounter = character.$bleedCounter();
          <button mat-icon-button
                  [disabled]="!bleedCounter">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      class="debuff-value"
                      matTooltip="Bleeding"
                      [matBadge]="bleedCounter"
                      [matBadgeDisabled]="!bleedCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              invert_colors
            </mat-icon>
          </button>

          @let poisonCounter = character.$poisonCounter();
          <button mat-icon-button
                  [disabled]="!poisonCounter">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      class="debuff-value"
                      matTooltip="Poisoned"
                      [matBadge]="poisonCounter"
                      [matBadgeDisabled]="!poisonCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              coronavirus
            </mat-icon>
          </button>

          @let hinderCounter = character.$hinderCounter();
          <button mat-icon-button
                  [disabled]="!hinderCounter">
            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      aria-hidden="false"
                      class="debuff-value"
                      matTooltip="Hindered"
                      [matBadge]="hinderCounter"
                      [matBadgeDisabled]="!hinderCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              do_not_touch
            </mat-icon>
          </button>

          @let immobilizeCounter = character.$immobilizeCounter();
          <button mat-icon-button
                  [disabled]="!immobilizeCounter">

            <mat-icon [fontSet]="fontSet"
                      aria-hidden="false"
                      class="debuff-value"
                      matTooltip="Immobilized"
                      [matBadge]="immobilizeCounter"
                      [matBadgeDisabled]="!immobilizeCounter"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              do_not_step
            </mat-icon>
          </button>

          @let isDead = character.$isDead();
          <button mat-icon-button
                  [disabled]="!isDead">
            <mat-icon aria-hidden="false"
                      matTooltip="Dead"
                      class="debuff-value"
                      matBadge="0"
                      [matBadge]="isDead ? 'Y' : 'N'"
                      [matBadgeDisabled]="!isDead"
                      [matBadgeOverlap]="false"
                      [matBadgePosition]="'below'">
              person_off
            </mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <!-- TODO disabled when hindered? -->
    @for(ability of character.abilities; track ability.id; let idx = $index) {
    @let isOpen$ = $isOpen()[idx];
    <button [ngClass]="getAbilityClass(ability)"
            [matBadge]="ability.config.baseAP"
            [disabled]="!canUseAbility(ability)"
            mat-stroked-button
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="triggerAbilityPanel(idx)">
      {{ ability.name }}

      @if(ability.config.interactive) {
      <mat-icon [fontSet]="fontSet"
                matTooltip="Interactive">
        view_in_ar
      </mat-icon>
      }

      @if(ability.config.reactive) {
      <mat-icon [fontSet]="fontSet"
                matTooltip="Reactive">
        sync
      </mat-icon>
      }
    </button>

    <ng-template cdkConnectedOverlay
                 [cdkConnectedOverlayOrigin]="trigger"
                 [cdkConnectedOverlayOpen]="isOpen$"
                 [cdkConnectedOverlayHasBackdrop]="true"
                 [cdkConnectedOverlayBackdropClass]="'transparent-backdrop'"
                 (backdropClick)="triggerAbilityPanel(idx)">
      <mat-card class="ability-card-overlay">
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip [matTooltip]="getDamageLabel(ability)"
                            [ngClass]="getDamageTypeClass(ability)"
                            [highlighted]="!isTrueDamage(ability)"
                            [disabled]="!ability.damage">
                    <mat-icon matChipAvatar>
                      gavel
                    </mat-icon>

                    {{ ability.damage }}
                  </mat-chip>

                  <mat-chip matTooltip="Accuracy"
                            [disabled]="!ability.accuracy">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      crisis_alert
                    </mat-icon>

                    {{ ability.accuracy }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip matTooltip="Range"
                            [disabled]="!ability.range">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      open_in_full
                    </mat-icon>

                    {{ ability.range }}
                  </mat-chip>

                  <mat-chip matTooltip="Targets"
                            [disabled]="!ability.targets">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      people
                    </mat-icon>

                    {{ ability.targets }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip matTooltip="Evasion"
                            [disabled]="!ability.evasion">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      sports_gymnastics
                    </mat-icon>

                    {{ ability.evasion }}
                  </mat-chip>

                  <mat-chip matTooltip="Distance"
                            [disabled]="!ability.distance">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      directions_walk
                    </mat-icon>

                    {{ ability.distance }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip matTooltip="Concussion"
                            [disabled]="!ability.concussive">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      sentiment_very_dissatisfied
                    </mat-icon>

                    {{ ability.concussive }}
                  </mat-chip>

                  <mat-chip matTooltip="Bolster"
                            [disabled]="!ability.boosting">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      add_reaction
                    </mat-icon>

                    {{ ability.boosting }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip matTooltip="Bleed"
                            [disabled]="!ability.bleeding">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      invert_colors
                    </mat-icon>

                    {{ ability.bleeding }}
                  </mat-chip>

                  <mat-chip matTooltip="Poison"
                            [disabled]="!ability.poisonous">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      coronavirus
                    </mat-icon>

                    {{ ability.poisonous }}
                  </mat-chip>

                  <mat-chip matTooltip="Heal"
                            [disabled]="!ability.healing">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      add_circle_outline
                    </mat-icon>

                    {{ ability.healing }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div class="list-item-container">
                <mat-chip-set>
                  <mat-chip matTooltip="Hinder"
                            [disabled]="!ability.hindering">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      do_not_touch
                    </mat-icon>

                    {{ ability.hindering }}
                  </mat-chip>

                  <mat-chip matTooltip="Immobilize"
                            [disabled]="!ability.immobilizing">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      do_not_step
                    </mat-icon>

                    {{ ability.immobilizing }}
                  </mat-chip>

                  <mat-chip matTooltip="Free-up"
                            [disabled]="!ability.freeing">
                    <mat-icon [fontSet]="fontSet"
                              matChipAvatar>
                      accessibility_new
                    </mat-icon>

                    {{ ability.freeing }}
                  </mat-chip>
                </mat-chip-set>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </ng-template>
    }
  </mat-card-actions>

  <mat-card-footer>
    <mat-list>
      <mat-list-item>
        <div class="list-item-container">
          <mat-chip-set>
            <mat-chip matTooltip="PHYSICAL resistance"
                      class="physical-resistance"
                      highlighted>
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                construction
              </mat-icon>

              {{ character.resistance.physical }}
            </mat-chip>

            <mat-chip matTooltip="ELEMENTAL resistance"
                      class="elemental-resistance"
                      highlighted>
              <mat-icon matChipAvatar>
                local_fire_department
              </mat-icon>

              {{ character.resistance.elemental }}
            </mat-chip>

            <mat-chip matTooltip="NUCLEAR resistance"
                      class="nuclear-resistance"
                      highlighted>
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                webhook
              </mat-icon>

              {{ character.resistance.nuclear }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="list-item-container">
          <mat-chip-set>
            <mat-chip matTooltip="STR">
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                fitness_center
              </mat-icon>

              {{ character.proficiency.strength }}
            </mat-chip>

            <mat-chip matTooltip="TGH">
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                terrain
              </mat-icon>

              {{ character.proficiency.toughness }}
            </mat-chip>

            <mat-chip matTooltip="INT">
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                psychology
              </mat-icon>

              {{ character.proficiency.intelligence }}
            </mat-chip>

            <mat-chip matTooltip="PER">
              <mat-icon [fontSet]="fontSet"
                        matChipAvatar>
                visibility
              </mat-icon>

              {{ character.proficiency.perception }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-footer>
</mat-card>
