@use "@angular/material" as mat;
@use "styles.scss" as *;

.step-content {
}

.character-label {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;

  .ap-counter {
    margin-left: 18px;
  }
}
