<h1>
  Round {{ $currentRound() }}
</h1>

<mat-stepper orientation="vertical"
             [linear]="true"
             #stepper
             [selectedIndex]="$currentTurn() - 1">
  <ng-template matStepperIcon="edit">
    <mat-icon>
      how_to_reg
    </mat-icon>
  </ng-template>

  @for (char of $activeCharacters(); track char.id) {
  <mat-step>
    <ng-template matStepLabel>
      <div class="character-label">
        <div [matTooltip]="getPlayedBy(char)">
          {{ char.name }}
        </div>

        <div>
          <mat-chip matTooltip="Current AP"
                    class="ap-counter"
                    highlighted>
            <mat-icon [fontSet]="fontSet"
                      matChipAvatar>
              play_circle
            </mat-icon>

            {{ char.$currentAP() }}
          </mat-chip>

          @let bonusAP = char.$bonusAP();
          @if (bonusAP) {
          <mat-chip matTooltip="Bonus AP next round"
                    class="bonus-ap">
            <mat-icon [fontSet]="fontSet"
                      matChipAvatar>
              pause_circle
            </mat-icon>

            {{ bonusAP }}
          </mat-chip>
          }
        </div>
      </div>
    </ng-template>

    <div class="step-content">
      <app-character-card [character]="char">
      </app-character-card>
    </div>
  </mat-step>
  }
</mat-stepper>
