<h1>
  Round {{ round }}
</h1>

<button mat-raised-button
        (click)="resetStepper()">
  Next Round
</button>

<mat-stepper orientation="vertical"
             [linear]="true"
             #stepper>
  <ng-template matStepperIcon="edit">
    <mat-icon>
      how_to_reg
    </mat-icon>
  </ng-template>

  @for (char of characters; track char.id) {
  <mat-step>
    <ng-template matStepLabel>
      <div class="character-label">
        <div matTooltip="Played by Kris">
          {{ char.name }} {{ $index }}
        </div>

        <div>
          <mat-chip matTooltip="AP"
                    class="ap-counter"
                    highlighted>
            <mat-icon [fontSet]="fontSet"
                      matChipAvatar>
              play_circle
            </mat-icon>

            {{ char.currentAP?.() }}
          </mat-chip>
        </div>
      </div>
    </ng-template>

    <div class="step-content">
      <app-character-card [character]="char">
      </app-character-card>
    </div>
  </mat-step>
  }
</mat-stepper>
