<mat-tab-group>
  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        groups
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      <mat-accordion>
        @for(char of characters; track char.id) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ char.name }} {{ $index }}
            </mat-panel-title>

            <mat-panel-description>
                Kris
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-character-card [character]="char">
          </app-character-card>
        </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        category
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      Tab2Content - components
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        grid_on
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      Tab2Content - map
    </div>
  </mat-tab>
</mat-tab-group>
