<mat-tab-group>
  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        groups
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      Tab1Content - characters
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        category
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      Tab2Content - components
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <mat-icon [fontSet]="fontSet">
        grid_view
      </mat-icon>
    </ng-template>

    <div class="tab-content">
      Tab2Content - map
    </div>
  </mat-tab>
</mat-tab-group>
