@use "@angular/material" as mat;
@use "styles.scss" as *;

:host {
  display: block;
}

.list-item-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.begin-button {
    @include mat.button-color($theme, $color-variant: primary);
  }

  &.randomize-button {
    @include mat.button-color($theme, $color-variant: tertiary);
  }

  &.reset-button {
    @include mat.button-color($theme, $color-variant: error);
  }
}

.initiative-list {
  margin: 20px;

  border: solid 1px #ccc;
  background: white;
  border-radius: 16px;
  overflow: hidden;
}

.character-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  .character-name {
    width: 25%;
    font-weight: bold;
  }

  .character-player {
    width: 15%;
  }

  .state-icon {
    @include mat.icon-color($theme, $color-variant: error);

    &.is-placed {
      @include mat.icon-color($theme, $color-variant: primary);
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.initiative-list.cdk-drop-list-dragging
  .character-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
