<header>
  <div class="button-group-container"
       [ngClass]="$buttonGroupContainerClass()">
    <mat-button-toggle-group [hideMultipleSelectionIndicator]="true"
                             multiple>
      <mat-button-toggle value="ldrawer"
                         [checked]="!$ldrawerOpened()"
                         (click)="toggleLDrawer()">
        <mat-icon class="ldrawer-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="sheet"
                         [checked]="!$bsheetOpened()"
                         (click)="toggleBSheet()">
        <mat-icon class="sheet-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="rdrawer"
                         [checked]="!$rdrawerOpened()"
                         (click)="toggleRDrawer()">
        <mat-icon class="rdrawer-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>

<mat-drawer-container class="app-container"
                      autosize
                      [hasBackdrop]="false"
                      (contextmenu)="onRightClick($event)">
  <mat-drawer #ldrawer
              class="side-panel left-side-panel"
              mode="over"
              position="start"
              [disableClose]="true">
    @if($inGame()) {
    <app-initiative-tracker>
    </app-initiative-tracker>
    } @else if ($preGame()) {
    <app-pregame-settings>
    </app-pregame-settings>
    }
  </mat-drawer>

  <mat-drawer #rdrawer
              class="side-panel right-side-panel"
              mode="over"
              position="end"
              [disableClose]="true">
    @if(!$noGame()) {
    <app-reference-sheet>
    </app-reference-sheet>
    }
  </mat-drawer>


  <div class="app-content">
    <!-- TODO refactor to router-outlet -->
    @if($noGame()) {
    <app-main-menu>
    </app-main-menu>
    } @else {
    <app-game-view>
    </app-game-view>
    }
  </div>
</mat-drawer-container>
