<header>
  <div class="button-group-container"
       [ngClass]="$buttonGroupContainerClass()">
    <mat-button-toggle-group [hideMultipleSelectionIndicator]="true"
                             multiple>
      <mat-button-toggle value="ldrawer"
                         [checked]="!$ldrawerOpened()"
                         (click)="toggleLDrawer()">
        <mat-icon class="ldrawer-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="sheet"
                         [checked]="!$bsheetOpened()"
                         (click)="toggleBSheet()">
        <mat-icon class="sheet-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="rdrawer"
                         [checked]="!$rdrawerOpened()"
                         (click)="toggleRDrawer()">
        <mat-icon class="rdrawer-toggle-icon">
          menu_open
        </mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>

<mat-drawer-container class="app-container"
                      [hasBackdrop]="false"
                      autosize>
  <mat-drawer #ldrawer
              class="side-panel left-side-panel"
              mode="over"
              position="start"
              [disableClose]="true">
    <app-initiative-tracker>
    </app-initiative-tracker>
  </mat-drawer>

  <mat-drawer #rdrawer
              class="side-panel right-side-panel"
              mode="over"
              position="end"
              [disableClose]="true">
    <app-reference-sheet>
    </app-reference-sheet>
  </mat-drawer>

  <div class="app-content">
    @if(!$inGame()) {
    <mat-card appearance="outlined"
              class="main-menu">
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <div class="main-menu-item-container">
              <h3>
                ZiomM World
              </h3>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="main-menu-item-container">
              <button mat-stroked-button
                      (click)="newGame()">
                New Game
              </button>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="main-menu-item-container">
              <button mat-stroked-button
                      (click)="loadGame()">
                Load Game
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    } @else {
    <app-game-view>
    </app-game-view>
    }
  </div>
</mat-drawer-container>
