.step-content {
  padding: 24px;

  display: flex;
  justify-content: center;

  position: relative;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    [mat-mini-fab] {
      margin: 10px;
    }

    [matSuffix] {
      margin-right: 10px;

      &.remove-hidden {
        visibility: hidden;
      }
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .select-field {
      width: 150px;
    }

    mat-form-field {
      margin: 0 10px;
    }

    .slider-container {
      display: flex;
      align-items: center;

      padding: 20px;

      mat-slider {
        width: 300px;
        margin: 0 20px;
      }

      label {
        font-weight: bolder;
      }
    }
  }

  .start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;

    padding: 80px;

    button {
      margin-top: 20px;
    }
  }
}

.stepper-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 24px;
}

.stepper-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 24px;
}
