<div class="map-container"
     cdkDropListGroup>
  @let activeMap = $activeMap();
  @for (row of activeMap.tiles; track $index; let y = $index)
  {
  <div class="map-row">
    @for (cell of row; track $index; let x = $index)
    {
    @let tile$ = $tiles()[y][x];
    <div class="map-cell"
         [matMenuTriggerFor]="triggerMenu(cell)"
         [matTooltip]="getCellTooltip(cell.coord)"
         matTooltipShowDelay="100"
         cdkDropList
         [cdkDropListData]="[y, x]"
         (cdkDropListDropped)="drop($event)"
         (click)="onLeftClick($event, cell)"
         (contextmenu)="onRightClick($event, cell)">
      <!-- <div class="cell-content "
           [ngClass]="{'cell-component': cell.component}">
      </div> -->

      @if(tile$.characterId) {
      <div class="cell-content cell-character"
           cdkDrag
           [cdkDragData]="[]">
        <mat-icon color="accent">
          {{ getCharacterIcon(tile$.characterId) }}
        </mat-icon>
      </div>
      }
    </div>
    }
  </div>
  }

  <app-action-menu #actionMenu>
  </app-action-menu>
</div>
