<div class="map-container"
     cdkDropListGroup>
  @for (row of $currentMap().tiles; track $index; let y = $index)
  {
  <div class="map-row">
    @for (cell of row; track $index; let x = $index)
    {
    <div class="map-cell"
         [matTooltip]="getCellCoord(x, y)"
         matTooltipShowDelay="100"
         cdkDropList
         [cdkDropListData]="[y, x]"
         (cdkDropListDropped)="drop($event)">
      <!-- <div class="cell-content "
           [ngClass]="{'cell-component': cell.component}">
      </div>

      <div class="cell-content cell-character"
           cdkDrag
           [cdkDragData]="[cell.character, row.id, cell.id]">
        <mat-icon color="accent">
          {{cell.character}}
        </mat-icon>
      </div> -->
    </div>
    }
  </div>
  }
</div>
